@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@800&family=PT+Sans:wght@400;700&display=swap");
.form {
  background-color: #fff;
  max-width: 558px;
  width: 100%;
  overflow-y: auto;
  padding: 53px 98px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.form__label {
  color: #0C1014;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 34px;
  padding-bottom: 35px;
  margin: 0px;
}

.head {
  display: flex;
  gap: 32px;
}
.head-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 362px;
  width: 100%;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.image-upload__label {
  color: #6A6E72;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  display: block;
  margin: 0px;
}
.image-upload__label_red {
  color: #D90000;
}

.file-drop-area {
  position: relative;
  background-image: url("./img/image-example.png");
  width: 163px;
  height: 163px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.file-drop-area__text {
  color: #FFF;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 19px;
  line-height: 28px;
  text-decoration-line: underline;
  max-width: 80px;
  margin: 0px;
  cursor: pointer;
}
.file-drop-area__input {
  opacity: 0;
}
.file-drop-area__icon {
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-container {
  position: relative;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.inputs__label {
  color: #6A6E72;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  left: 16px;
  transition: top 250ms, font-size 250ms, font-heigth 250ms;
  cursor: text;
}
.inputs__label_red {
  color: #D90000;
}
.inputs__item {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  color: #0C1014;
  border: 1px solid #D6DADE;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  padding: 22px 16px 8px 16px;
  box-sizing: border-box;
}
.inputs__item:focus ~ label, .inputs__item:not(:placeholder-shown) ~ label {
  font-size: 12px;
  line-height: 16px;
  top: 8px;
}
.inputs__item_noLabel {
  padding: 16px;
  padding-right: 32px;
  width: 100%;
}
.inputs__icon {
  position: absolute;
  top: 35%;
  right: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 50px;
  align-items: center;
}
.buttons__action {
  color: #FFF;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  background-color: #E5266E;
  padding: 14px 0px 16px 0px;
  border: 0px;
  border-radius: 4px;
  max-width: 557px;
  width: 100%;
  cursor: pointer;
}
.buttons__cancel {
  font-family: "PT Sans", sans-serif;
  border: 0px;
  background-color: #FFF;
  color: #0848C0;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.btn {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 18px;
  background-color: #3b67dd;
  padding: 16px;
  border: 0px;
  border-radius: 4px;
  max-width: 200px;
  width: 100%;
  cursor: pointer;
}

.modal {
  display: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .form {
    padding: 53px 78px;
  }
  .head {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .form {
    padding: 53px 38px;
  }
}